<div style="border: 1px solid #000; padding: 5px; margin-bottom: 15px; background: bottom no-repeat #ffffff;">
<div id="hcard-{$first_name}-{$surname}" class="vcard">
  <img style="float:right; margin-left:4px" src="{$gravatar}" alt="photo of {$first_name} {$surname}" class="photo"/>
 <a class="url fn" href="{$website}" target="_blank">{$first_name} {$last_name}</a>
 <div class="org">{$organization}</div>
 <a class="email" href="mailto:{$email}">{$email}</a>
 <div class="adr">
  <div class="street-address">{$address_line1}<br />{$address_line2}</div>
  <span class="locality">{$city}</span>
, 
  <span class="region">{$state}</span>
, 
  <span class="postal-code">{$postcode}</span>
  <span class="country-name">{$country}</span>
 </div>
 <div class="tel">{$phone}</div>
 <a href="{$googlesite}" target="_blank">
   <img src="{$googlemap}" alt="Map of {$organization}" />
 </a><br />
 <div class="geo">GEO: 
   <a href="{$mapsite}" target="_blank">
   <span class="latitude">{$lat}</span>, 
   <span class="longitude">{$lon}</span>
   </a>
 </div>
 <a href="{$yahoosite}" target="_blank">Yahoo Map</a> - <a href="{$livesite}" target="_blank">Live Map</a> 
 <div class='notes note'><hr />{$notes}<br />
 </div>
</div>
</div>